@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #1988A0;
}

.container{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url('./joke.gif');
  background-size: 50%;
  background-position: left 20% top 50%;
  background-repeat: no-repeat;
}

button{
  cursor: pointer;
  outline: none;
  width: 200px;
  height: 50px;
  font-family: Dosis, sans-serif;
  font-size: 20px;
  color: #F5DEDF;
  background-color: #CA5D6A;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 100px 10px rgba(0, 0, 0, 0.200);
}

button:hover {
  filter:brightness(90%)
}

button:active{
  transform: scale(0.98);
}

button:disabled{
  cursor: default;
  filter: brightness(30%)
}

/* Media Query Tablet or smaller */
@media screen and (max-width: 1000px){
  .container{
    background-position: center center;
    background-size: auto;
  }

  .button{
    box-shadow: 5px 5px 30px 20px rgba(0, 0, 0, 0.600);
  }
}
